




.searchPage-container{
    background-color: red;
    height: 60vh;
    width: 60vw;
    border-radius: 16px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



